inventory/Connected Services/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestaurantWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestaurantWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="DCost" type="xs:double" />
      <xs:element minOccurs="0" name="DName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="F" type="xs:int" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Psw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="items" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
</xs:schema>