inventory/Connected Services/ServiceReference/RestaurantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestaurantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRestaurantWCFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestaurantWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestaurantWCFService_SaveDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDetails" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_SaveDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_GetMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_GetMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_insertmenu_InputMessage">
    <wsdl:part name="parameters" element="tns:insertmenu" />
  </wsdl:message>
  <wsdl:message name="IRestaurantWCFService_insertmenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertmenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestaurantWCFService">
    <wsdl:operation name="SaveDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantWCFService/SaveDetails" message="tns:IRestaurantWCFService_SaveDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantWCFService/SaveDetailsResponse" message="tns:IRestaurantWCFService_SaveDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantWCFService/GetMenu" message="tns:IRestaurantWCFService_GetMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantWCFService/GetMenuResponse" message="tns:IRestaurantWCFService_GetMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantWCFService/Login" message="tns:IRestaurantWCFService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantWCFService/LoginResponse" message="tns:IRestaurantWCFService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertmenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantWCFService/insertmenu" message="tns:IRestaurantWCFService_insertmenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantWCFService/insertmenuResponse" message="tns:IRestaurantWCFService_insertmenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestaurantWCFService" type="tns:IRestaurantWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveDetails">
      <soap:operation soapAction="http://tempuri.org/IRestaurantWCFService/SaveDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/IRestaurantWCFService/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRestaurantWCFService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertmenu">
      <soap:operation soapAction="http://tempuri.org/IRestaurantWCFService/insertmenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRestaurantWCFService" type="tns:IRestaurantWCFService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRestaurantWCFService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveDetails">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantWCFService/SaveDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantWCFService/GetMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantWCFService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertmenu">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantWCFService/insertmenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantService">
    <wsdl:port name="BasicHttpBinding_IRestaurantWCFService" binding="tns:BasicHttpBinding_IRestaurantWCFService">
      <soap:address location="http://localhost:5050/RestaurantWCFService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRestaurantWCFService" binding="tns:NetTcpBinding_IRestaurantWCFService">
      <soap12:address location="net.tcp://localhost:5010/RestaurantService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5010/RestaurantService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-75OND6D\Emad</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>